{% extends 'base.html.twig' %}

{% block title %}Traversées{% endblock %}

{% block targetClass %}crossings{% endblock %}

{% block body %}
    <h1>Les Traversées</h1>

    <section class="crossings">
        <ul class="list">
            {% for crossing in crossings %}
                <li class="item">
                    {% include 'components/crossing/card.html.twig' with {crossing} %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
