.teams {
  section {
    padding: 40px;

    &.teams {
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
  
        > .item {
          width: calc(33% - 10px);
        }
      }
    }
  }
}
