@use './../variables' as v;

.nav {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: v.$white;

  .static {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn.burger {
      display: none;
      background-color: v.$white;
      border: 2px solid v.$black;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6px;
      padding: 10px 5px;
      min-width: 50px;
      width: 50px;
      height: 50px;
  
      .line {
        width: 90%;
        height: 4px;
        border-radius: 10px;
        background-color: v.$black;
      }
    }

    .logo {
      width: 100%;
      border: v.$main 2px dashed;
      padding: 10px;
      margin: 0;
    }
  }

  .list {
    display: flex;
    gap: 20px;

    &.main {
      width: 100%;
      padding-inline: 20px;
    }

    .item {
      position: relative;
      min-height: 40px;

      a {
          height: 100%;
          padding: 10px;
          font-weight: bold;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: v.$main;
        transition: width .3s linear;
      }

      &.active, &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &.burger {
      display: none;
      width: 100%;
    }
  }
}

@media (max-width: 1600px) {
  .nav {
    flex-wrap: wrap;

    .static {
      .btn.burger {
        display: flex;
      }
    }

    .list {
      &.main {
        display: none;
      }

      &.burger {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 20px;

        &.active {
          display: flex;
        }

        .item {
          max-width: fit-content;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .nav {
    .static {
      width: 100%;
    }
    
    .list {
      &.actions {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .nav {
    .static {
      width: 100%;
      flex-direction: column-reverse;
    }
  }
}
