<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main class="{% block targetClass %}{% endblock %}">
        {% block body %}{% endblock %}
    </main>

    <div class="alerts">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert {{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
