<article class="card {% block cardTargetClass %}{% endblock %}">
    <h3 class="title">{% block title %}{% endblock %}</h2>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</article>
