{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block targetClass %}auth{% endblock %}

{% block body %}
    <h1>Confirmation</h1>

    <section class="confirm">
        <p>Votre compte à bien été confirmé. Vous pouvez désormais vous connecter avec vos identifiants.</p>

        <div>
            <a href="{{ path('app_login') }}" class="btn main">
                Se connecter
            </a>
        </div>
    </section>
{% endblock %}
