{% extends 'base.html.twig'%}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    <form method="POST">
        <input name="email" id="username" type="text" placeholder="Adresse Email"/>
        
        <button>
            Recevoir l'email de réinitialisation
        </button>
    </form>
{% endblock %}
