$white: #fff;

$black: #333;
$blackFade: #33333380;

$main: #4897b0;
$mainFade: #4897b080;

$darkGray: #ccc;

$success: #4CAF50;
$successFade: #4CAF5080;

$error: #D9534F;
$errorFade: #D9534F80;

$warning: #FFC107;
$warningFade: #FFC10780;

$info: #347B98;
$infoFade: #347B9880;
